@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');

.brand{
  font-size: 1.5em;
}
.ttl{
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}
.card:hover{
  transform: scale(1.1); /* Adjust scale as needed */
}
.sub-btn{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.sub-btn:hover , .sub-btn:active{
  width: 33%;
}
footer{
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 1em;
}

/* Dashboard */
.iframe-dash{
  width: 100%;
  height: 40em;
}
.item-name{
  text-transform: uppercase;
}
.case-id{
  border: 2px solid black;
  border-radius: 5px;
  display: inline;
}
#caseText , #r1 , #r2 , #r3 , #r4{
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5em;
}
.sign{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.icon{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.brand-case{
  font-weight: bolder;
}
.status{
  font-weight: bolder;
}
body{
  scroll-behavior: smooth;
}
.chart{
  width: 40%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Year */
#year{
  font-style: normal;
}


/* Search with code */

.swithcode .search-bar {
  transition: width 0.3s ease-in-out;
  width: 40px;
}

.swithcode .search-bar:focus {
  width: 250px;
}

/* Preloader */
#preloader{
  background: white url(images/loading.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* Announcments */
#messageBox{
  font-size: 1.2em !important;
  font-weight: bolder;
}